<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layered Omelet Recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Chinese-Layered Omelette Recipe</h1>
    <ul class="nav">
        <li><a class="active" href="/">My Recipe Book</a></li>
        <li><a href="/listrecipes">List Recipes</a></li>
        <li><a href="/omelette">Chinese Omelette</a></li>
        <li><a href="/bananabread">Banana Bread</a></li>
        <li><a href="/about">About</a></li>

    </ul>
<!--    <h1 style="text-align:left">How to Make Chinese-Layered Omelette</h1>-->

    <h2 class="country">Country of Origin: China</h2>
    <img class="flag" src="https://previews.123rf.com/images/ferwulf/ferwulf1210/ferwulf121000014/15589730-china-flag-waving-on-white-background-3d-image.jpg"
         alt="China flag">

    <h2>Ingredients</h2>
    <ul class="ingredients">
        <li>6 large eggs</li>
        <li>Small bundle of flowering garlic chives (1.5 oz), sliced thinly</li>
        <li>1/4 teaspoon kosher salt (if using table salt, use half as much)</li>
        <li>Neutral oil, like canola or peanut, for greasing the pan</li>
        <li>5 scallions (3 ounces; 85g), white and light-green parts only, sliced as thinly as possible</li>
        <li>3 teaspoons soy sauce (15ml)</li>
        <li>Steamed white rice, for serving</li>
    </ul>

    <div class="row">
        <div class="column1">
            <img id="omelette" src="https://www.seriouseats.com/2019/01/20190114-layered-omelet-vicky-wasik-9.jpg"
                 alt="omelette" style="width:100%">
        </div>
        <div class="column1">
            <img id="rice" src="https://www.seriouseats.com/2019/10/20191014-rice-cookers-vicky-wasik-20.jpg"
                 alt="rice" style="width:100%">
        </div>
        <div class="column1">
            <img id="eggs" src="https://www.seriouseats.com/images/2014/04/20140430-peeling-eggs-12-625x469.jpg"
                 alt="rice" style="width:100%">
        </div>
    </div>

    <h2 class="directions">Directions</h2>
<!--        <br />-->
    <p>In a medium mixing bowl, beat eggs along with sliced flowering garlic chives (if using) and salt until thoroughly mixed.</p>
    <p>Place about 1 teaspoon of oil in an 8- or 10-inch nonstick skillet over medium heat. When the pan is hot, add
        just enough egg mixture to coat bottom of pan, swirling to ensure complete distribution. Cook until the bottom
        is completely set and the top is just barely set with just a trace of runniness; slide omelette onto serving plate.
        Top with sprinkling of sliced scallions and 1 teaspoon (5ml) of soy sauce; if using a 10-inch skillet, use
        1.5 teaspoons (7ml) soy sauce.</p>
    <p>Repeat process with remaining egg mixture, topping each layer with sliced scallions. If using an 8-inch skillet,
        drizzle one of the middle layers with 1 teaspoon soy sauce and drizzle the final 1 teaspoon of soy sauce over the
        top. If using a 10-inch skillet, drizzle remaining 1.5 teaspoons soy sauce over top. Serve immediately with
        piping-hot steamed white rice.</p>
    <div class="well">
        serves 2 as a main course; serves 4 as a side dish
    </div>
</body>
</html>